
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_crm_Layout.cshtml";
}


<h3>
    1. Cuántos días Tarda la Respuesta de mi Caso de Consulta, Reclamo o Queja?
</h3>
<p>
    Hasta 7 días laborales después de la Fecha del Recibo de su Caso; y para casos compicados, hasta 12 días después de haber recibido su caso.
</p>
<h3>
    2. Se puede retrasar mi repuesta
</h3>
<p>
    En casos excepcionales se le informara al cliente que tomara cinco (5) días hábiles adicionales para dar respuesta
</p>

<h3>
    3. Segunda Instancia
</h3>
<p>
    Si la respuesta es negativa o esta en
    desacuerdo con la respuesta, puede
    recurrir ante la
    CONAMI en:
    <br />
    correo@conami.gob.ni
    22222413 | 22222414 | 22509797
    <a href="http://www.conami.gob.ni/">http://www.conami.gob.ni/</a>

</p>
